<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                A real cool book
            </h1>
            <p class="lead">master the art of mastering mastery</p>
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_51JlDO6SJZiaB0bkmGhXYtYp5h05pdKGM0xIVawucopDk9fwBoOhteLhImdsHbDrlG5AUAlizGZpuPe1mnpusZrX600JAG6rwvh"
                    data-amount="123" data-name="maverick-books" data-description="master the art of mastering mastery"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"></script>
                <script>
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-dark btn-lg">Purchase</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/book.png" alt="" class="img-fluid">
        </div>
    </div>
</section>